<div class="navigation-container">
    <div class="logo-container">
        <img src="/images/copperblock.png" alt="Logo" class="logo">
    </div>
    <nav class="navigation-container-grid">
        <a class="grid-item" routerLink="/" routerLinkActive="active">Home</a>
        <a class="grid-item" routerLink="/about" routerLinkActive="active">About us</a>
        <a class="grid-item" routerLink="/contact" routerLinkActive="active">Kontakt</a>
        <a class="grid-item" (click)="logout()" routerLinkActive="active">Logout</a>
    </nav>
</div>


