<div class="footer-container">
  <div class ="footer-container-grid">
    <div class="footer-item">
      <a class="footer-links" routerLink="/impressum" routerLinkActive="active">Impressum</a>
    </div>
    <div class="footer-item">
      <a class="footer-links"  routerLink="/privacy" routerLinkActive="active">Privacy Policy</a>
    </div>
    <div class="footer-item">
      <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
        <img src="/images/facebook.png" alt="facebook" class="socials-icon" />
      </a>
      <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
        <img src="/images/instagram.png" alt="instagram" class="socials-icon" />
      </a>
      <a href="https://www.whatsapp.com" target="_blank" rel="noopener noreferrer">
        <img src="/images/whatsApp.png" alt="whatsApp" class="socials-icon" />
      </a>
      <a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer">
        <img src="/images/youtube.png" alt="youtube" class="socials-icon" />
      </a>
    </div>
  </div>
   <div class="footer-copyright">
    &copy; {{ currentYear }} Your Company Name. All rights reserved.
  </div>
</div>
